@page "/unauthorized"

<title>"Access Denied"</title>


<RadzenColumn SizeMD="12">
    <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
        <RadzenImage Path="images/unauthoriedBack2.png" style="height: 487px; width: 865px;"></RadzenImage>
    </RadzenRow>
</RadzenColumn>


<p></p>